<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Upload SDF</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" /> <!-- https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans -->
    <link href="css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com -->
	<link href="css/templatemo-new-vision.css" rel="stylesheet" />
<!--

New Vision Template

https://templatemo.com/tm-542-new-vision

-->
</head>
<body>
    <!-- Page Header -->
    <div class="container-fluid">
        <div class="tm-site-header">
            <div class="row">
                <div class="col-12 tm-site-header-col">
                    <div class="tm-site-header-left">
                        <img src="/template/img/203183.png" alt="Molecule Image" class="tm-site-icon">
                        <h1 class="tm-site-name">Molecule<br>Explorer</h1>
                    </div>
                    <div class="tm-site-header-right tm-menu-container-outer">
                        
                        <!--Navbar-->
                        <nav class="navbar navbar-expand-lg">
                        
                          <!-- Collapse button -->
                          <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                class="fas fa-bars fa-1x"></i></span></button>
                        
                          <!-- Collapsible content -->
                          <div class="collapse navbar-collapse tm-nav" id="navbarSupportedContent1">
                        
                            <!-- Links -->
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                <a class="nav-link tm-nav-link" href="home.html">Home<span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link tm-nav-link" href="modifyElements.html">Modify Elements</a>
                              </li>
                              <li class="nav-item active">
                                <a class="nav-link tm-nav-link" href="#">Upload SDF</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link tm-nav-link" href="viewMolecules.html">View Molecules</a>
                              </li>
                            </ul>
                            <!-- Links -->
                        
                          </div>
                          <!-- Collapsible content -->
                        
                        </nav>
                        <!--/.Navbar-->
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="tm-main-bg tm-services-bg">
                    <div 
                        class ="tm-services-img">
                    </div>
                </div>  
            </div>
        </div>
        
        <!-- Main -->
        <main>
            <!-- Welcome section -->
            <section class="tm-welcome">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-section-header tm-header-floating">Upload SDF</h2>
                    </div>
                </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <section class="upload-sdf">
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                      <form id="upload-form" action="molecule" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                          <label for="sdf_file" class="font-weight-bold">Choose your SDF here:</label>
                          <input type="file" id="sdf_file" name="filename" class="form-control-file">
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block">Upload</button>
                        </div>
                      </form>
                    </div>
                    <div id="success-message" style="display:none;">Success</div>
                  </div>
                </div>
              </section>
            
              <footer>
                Copyright &copy; 2023 Manu Konnur - All rights reserved.
             </footer>
            
        </main>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
</html>